/* Setting the default margin and padding size */
*{
    margin: 0px;
    padding: 0px;
}

/* Styling the body */
body{
    background-color: hsl(212, 45%, 89%);
    min-height: 100vh;
    display: grid;
    place-content: center;
    align-items: center;
}

/* Styling the container */
.container{
    display: flex;
    flex-direction: column;
    place-content: center;
    margin: 2rem;
    font-family: 'Outfit', sans-serif;
    padding: 1.2rem;
    text-align: center;
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px;
    max-width: 320px;
}

/* Styling the qr code image */
.qr-code-image{
    border-radius: 10px;
    display: block;
    max-width: 100%;
}

/* Styling the header */
.header{
    color: hsl(218, 44%, 22%);
    font-weight: 700;
    font-size: 1.3rem;
}

h1, p{
    font-size: 1rem;
    padding-top: 1rem;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
}

/* Styling the paragraph */
.para{
    color: hsl(220, 15%, 55%);
    padding-bottom: 1rem;
    font-weight: 400;
}

/* Styling the attribution text */
.attribution {
    font-size: 11px;
    text-align: center; 
}

/* Styling the attribution link */
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@media (min-width: 320px) and (max-width: 376px){
    .header{
        font-size: 1.1rem;
    }
    .para{
        font-size: 0.9rem;
    }
}
